<% include partials/header%>

<h1>You felt in love with <%= thing.toUpperCase() %> </h1>
<% if( thing.toLowerCase() === "rusty"){ %>
<p>Good Choice</p>
<% } else { %>
<p>Bad Choice</p>
<% } %>

<% include partials/footer%>